$textColor1: hsl(276, 100%, 81%);
$textColor2: hsl(276, 55%, 52%);
$textColor3: hsl(271, 15%, 43%);
$textColor4: hsl(206, 6%, 79%);
$textColor5: hsl(271, 36%, 24%);
$textColor6: hsl(270, 7%, 64%);
$gradientColor1: hsl(293, 100%, 63%);
$gradientColor2: hsl(264, 100%, 61%);
$secondaryColor1: hsl(0, 0%, 100%);
$secondaryColor2: hsl(270, 20%, 96%);
$secondaryColor3: hsl(271, 36%, 24%);
$secondaryColor4: hsl(289, 100%, 72%);
$fontSize: 1.6rem;
